/*
 * Usage:
 *
 *  font-family: 'Open Sans Condensed', sans-serif;
 * 	options:family=Open+Sans+Condensed:300|Open+Sans:400,300,300italic,700
 */
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Open+Sans:400,300,300italic,700);
.freedomnow {
  font-family: 'Open Sans', sans-serif;
  background: #000000; }
  .freedomnow .clock-module {
    width: 100vw;
    height: 100vh; }
    .freedomnow .clock-module .row {
      height: 50vh;
      text-transform: uppercase;
      position: relative; }
      .freedomnow .clock-module .row > div {
        margin-left: 20px;
        padding: 20px 0; }
      .freedomnow .clock-module .row.r1 {
        color: #000000;
        background: #0097C9; }
        .freedomnow .clock-module .row.r1 > div {
          position: absolute;
          bottom: 0;
          left: 0; }
      .freedomnow .clock-module .row.r2 {
        color: #0097C9;
        background: #000000; }
        .freedomnow .clock-module .row.r2 .col-1 {
          color: #fff; }
          .freedomnow .clock-module .row.r2 .col-1 p {
            font-size: 148px;
            position: relative;
            top: -15px;
            line-height: 148px; }
      .freedomnow .clock-module .row .col {
        float: left; }
      .freedomnow .clock-module .row .col-1 {
        font-weight: 900;
        margin-right: 20px; }
      .freedomnow .clock-module .row p {
        font-size: 60px; }
  .freedomnow .appeal-grid-module .photo-box {
    float: left;
    width: 10vw; }
    .freedomnow .appeal-grid-module .photo-box img {
      width: auto;
      height: 100%; }
