/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

  Mixins available:
    -   css3-prefix             - arguments: Property, Value
    -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-horizontal   - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-radial       - arguments: Start Color: #FFFFFF, Start position: 0%, End Color: #000000, End position: 100%
    -   background-size         - arguments: Width: 100%, Height: 100%
    -   background-opacity      - arguments: Color: #000, Opacity: .85
    -   border-radius           - arguments: Radius: 5px
    -   border-radius-separate  - arguments: Top Left: 5px, Top Right: 5px, Bottom Left: 5px, Bottom Right: 5px
    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   box-sizing              - arguments: Type: border-box
    -   columns                 - arguments: Count: 3, Gap: 10
    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
    -   flex                    - arguments: Value: 1
    -   flip                    - arguments: ScaleX: -1
    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
    -   opacity                 - arguments: Opacity: 0.5
    -   outline radius          - arguments: Radius: 5px
    -   resize                  - arguments: Direction: both
    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   transform               - arguments: Parameters: null
    -   transform-style         - arguments: Style: preserve-3d
    -   transition              - Default arguments: What: all, Length: 1s, Easing: ease-in-out
    -                            - Examples: @include transition (all 2s ease-in-out);
    -                                        @include transition (opacity 1s ease-in 2s, width 2s ease-out);
    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0
    -   keyframes               - arguments: Animation name
                                - content:   Animation css
    -   animation               - arguments: name duration timing-function delay iteration-count direction fill-mode play-state
                                             (http://www.w3schools.com/cssref/css3_pr_animation.asp)

------------------------------------------------------------- */
/*
 * Usage:
 *
 *  font-family: 'Open Sans Condensed', sans-serif;
 * 	options:family=Open+Sans+Condensed:300|Open+Sans:400,300,300italic,700
 */
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Open+Sans:400,300,300italic,700);
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }
  .animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite; }

@keyframes floating {
  0% {
    transform: translateY(0%); }
  50% {
    transform: translateY(8%); }
  100% {
    transform: translateY(0%); } }

@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0%); }
  50% {
    -webkit-transform: translateY(20%); }
  100% {
    -webkit-transform: translateY(0%); } }

.floating {
  -webkit-animation-name: floating;
  animation-name: floating;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom; }

.freedomnow {
  font-family: 'Open Sans', sans-serif;
  background: #000000;
  position: relative; }
  .freedomnow .clock-module {
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 2;
    -webkit-box-shadow: 0px 20px 80px #181818;
    -khtml-box-shadow: 0px 20px 80px #181818;
    -moz-box-shadow: 0px 20px 80px #181818;
    -ms-box-shadow: 0px 20px 80px #181818;
    -o-box-shadow: 0px 20px 80px #181818;
    box-shadow: 0px 20px 80px #181818; }
    .freedomnow .clock-module .row {
      height: 50vh;
      text-transform: uppercase;
      position: relative; }
      .freedomnow .clock-module .row > div {
        padding: 20px 0; }
      .freedomnow .clock-module .row.r1 {
        color: #000000;
        background: #5785b9; }
        .freedomnow .clock-module .row.r1 > div {
          position: absolute;
          bottom: 0;
          left: 0; }
      .freedomnow .clock-module .row.r2 {
        color: #5785b9;
        background: #000000; }
        .freedomnow .clock-module .row.r2 .col-1 {
          color: #fff; }
          .freedomnow .clock-module .row.r2 .col-1 p {
            font-size: 145px;
            position: relative;
            top: -18px;
            line-height: 148px; }
      .freedomnow .clock-module .row .col {
        float: left; }
      .freedomnow .clock-module .row .col-1 {
        font-weight: 900;
        margin-right: 30px;
        width: 200px;
        text-align: right; }
      .freedomnow .clock-module .row p {
        font-size: 60px; }
  .freedomnow .appeal-grid-module {
    position: relative;
    z-index: 1; }
    .freedomnow .appeal-grid-module .photo-box {
      float: left;
      width: 10vw;
      overflow: hidden; }
      .freedomnow .appeal-grid-module .photo-box img {
        width: auto;
        height: 100%; }
  .freedomnow .logo-freedomnow {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 2;
    padding: 30px;
    max-width: 130px; }
  .freedomnow .arrow-down {
    position: absolute;
    bottom: 50px;
    left: calc(50% - 15px);
    z-index: 2;
    color: #fff;
    padding: 0px;
    animation-duration: 1.6s;
    -webkit-animation-duration: 1.6s;
    opacity: 0.8;
    cursor: pointer;
    -webkit-transition: opacity 0.3s;
    -khtml-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s; }
    .freedomnow .arrow-down:hover {
      opacity: 0.5; }
  .freedomnow .npe {
    pointer-events: none; }
  .freedomnow .appeal-popup-module {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    opacity: 0;
    -webkit-transition: opacity 0.8s;
    -khtml-transition: opacity 0.8s;
    -moz-transition: opacity 0.8s;
    -ms-transition: opacity 0.8s;
    -o-transition: opacity 0.8s;
    transition: opacity 0.8s; }
    .freedomnow .appeal-popup-module .img-container {
      position: relative;
      background-image: url(https://leakypedia.files.wordpress.com/2013/01/keep-fighting-cropped1.jpg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      width: calc(100% - 40px);
      height: calc(100% - 40px);
      top: 20px;
      left: 20px;
      -webkit-box-shadow: 0px 20px 80px #181818;
      -khtml-box-shadow: 0px 20px 80px #181818;
      -moz-box-shadow: 0px 20px 80px #181818;
      -ms-box-shadow: 0px 20px 80px #181818;
      -o-box-shadow: 0px 20px 80px #181818;
      box-shadow: 0px 20px 80px #181818; }
      .freedomnow .appeal-popup-module .img-container .nav-ctrl {
        position: absolute;
        bottom: 0;
        left: 0; }
