/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

  Mixins available:
    -   css3-prefix             - arguments: Property, Value
    -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-horizontal   - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-radial       - arguments: Start Color: #FFFFFF, Start position: 0%, End Color: #000000, End position: 100%
    -   background-size         - arguments: Width: 100%, Height: 100%
    -   background-opacity      - arguments: Color: #000, Opacity: .85
    -   border-radius           - arguments: Radius: 5px
    -   border-radius-separate  - arguments: Top Left: 5px, Top Right: 5px, Bottom Left: 5px, Bottom Right: 5px
    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   box-sizing              - arguments: Type: border-box
    -   columns                 - arguments: Count: 3, Gap: 10
    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
    -   flex                    - arguments: Value: 1
    -   flip                    - arguments: ScaleX: -1
    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
    -   opacity                 - arguments: Opacity: 0.5
    -   outline radius          - arguments: Radius: 5px
    -   resize                  - arguments: Direction: both
    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   transform               - arguments: Parameters: null
    -   transform-style         - arguments: Style: preserve-3d
    -   transition              - Default arguments: What: all, Length: 1s, Easing: ease-in-out
    -                            - Examples: @include transition (all 2s ease-in-out);
    -                                        @include transition (opacity 1s ease-in 2s, width 2s ease-out);
    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0
    -   keyframes               - arguments: Animation name
                                - content:   Animation css
    -   animation               - arguments: name duration timing-function delay iteration-count direction fill-mode play-state
                                             (http://www.w3schools.com/cssref/css3_pr_animation.asp)

------------------------------------------------------------- */
/*
 * Usage:
 *
 *  font-family: 'Open Sans Condensed', sans-serif;
 * 	options:family=Open+Sans+Condensed:300|Open+Sans:400,300,300italic,700
 */
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Open+Sans:400,300,300italic,700);
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }
  .animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite; }

@keyframes floating {
  0% {
    transform: translateY(0%); }
  50% {
    transform: translateY(8%); }
  100% {
    transform: translateY(0%); } }

@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0%); }
  50% {
    -webkit-transform: translateY(20%); }
  100% {
    -webkit-transform: translateY(0%); } }

.floating {
  -webkit-animation-name: floating;
  animation-name: floating;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom; }

.freedomnow {
  font-family: 'Open Sans', sans-serif;
  background: #000000;
  position: relative; }
  .freedomnow .clock-module {
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 5;
    -webkit-box-shadow: 0px 5px 60px #181818;
    -khtml-box-shadow: 0px 5px 60px #181818;
    -moz-box-shadow: 0px 5px 60px #181818;
    -ms-box-shadow: 0px 5px 60px #181818;
    -o-box-shadow: 0px 5px 60px #181818;
    box-shadow: 0px 5px 60px #181818; }
    .freedomnow .clock-module .row {
      height: 50vh;
      text-transform: uppercase;
      position: relative; }
      .freedomnow .clock-module .row > div {
        padding: 20px 0; }
      .freedomnow .clock-module .row.r1 {
        color: #000000;
        background: #5785b9; }
        .freedomnow .clock-module .row.r1 > div {
          position: absolute;
          bottom: 0;
          left: 0; }
      .freedomnow .clock-module .row.r2 {
        color: #5785b9;
        background: #000000; }
        .freedomnow .clock-module .row.r2 .col-1 {
          color: #fff; }
          .freedomnow .clock-module .row.r2 .col-1 p {
            font-size: 145px;
            position: relative;
            top: -18px;
            line-height: 148px; }
            @media only screen and (max-width: 768px) {
              .freedomnow .clock-module .row.r2 .col-1 p {
                font-size: 108.75px;
                top: -13.5px;
                line-height: 111px; } }
            @media only screen and (max-width: 480px) {
              .freedomnow .clock-module .row.r2 .col-1 p {
                font-size: 72.5px;
                top: -9px;
                line-height: 74px; } }
      .freedomnow .clock-module .row .col {
        float: left; }
      .freedomnow .clock-module .row .col-1 {
        font-weight: 900;
        margin-right: 30px;
        width: 200px;
        text-align: right; }
        @media only screen and (max-width: 768px) {
          .freedomnow .clock-module .row .col-1 {
            margin-right: 22.5px;
            width: 150px; } }
        @media only screen and (max-width: 480px) {
          .freedomnow .clock-module .row .col-1 {
            margin-right: 15px;
            width: 100px; } }
      .freedomnow .clock-module .row p {
        font-size: 60px; }
        @media only screen and (max-width: 768px) {
          .freedomnow .clock-module .row p {
            font-size: 45px; } }
        @media only screen and (max-width: 480px) {
          .freedomnow .clock-module .row p {
            font-size: 30px; } }
    .freedomnow .clock-module .topbox-bot-bar {
      position: relative;
      z-index: 2;
      pointer-events: visible; }
  .freedomnow .appeal-grid-module {
    position: relative;
    z-index: 1;
    background-color: #000000; }
    .freedomnow .appeal-grid-module .photo-box {
      float: left;
      width: 10vw;
      overflow: hidden;
      cursor: pointer;
      position: relative; }
      .freedomnow .appeal-grid-module .photo-box:before {
        content: " ";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        opacity: 0;
        background-color: #000000;
        -webkit-transition: opacity 0.3s ease-in-out;
        -khtml-transition: opacity 0.3s ease-in-out;
        -moz-transition: opacity 0.3s ease-in-out;
        -ms-transition: opacity 0.3s ease-in-out;
        -o-transition: opacity 0.3s ease-in-out;
        transition: opacity 0.3s ease-in-out; }
      .freedomnow .appeal-grid-module .photo-box:hover:before {
        opacity: 0.3; }
      .freedomnow .appeal-grid-module .photo-box:hover img {
        -webkit-transform: scale(1.1);
        -khtml-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
        -webkit-transition-duration: 12s;
        /* Safari */
        transition-duration: 12s; }
      .freedomnow .appeal-grid-module .photo-box img {
        width: auto;
        height: 100%;
        -webkit-transition: transform 0.3s;
        -khtml-transition: transform 0.3s;
        -moz-transition: transform 0.3s;
        -ms-transition: transform 0.3s;
        -o-transition: transform 0.3s;
        transition: transform 0.3s; }
    .freedomnow .appeal-grid-module .photo-box-submit-cta {
      width: 100%;
      height: 100%;
      background-color: #000000;
      font-size: 38px; }
      .freedomnow .appeal-grid-module .photo-box-submit-cta span {
        color: #fff;
        display: block; }
        .freedomnow .appeal-grid-module .photo-box-submit-cta span.hashtag {
          font-size: 12px; }
      .freedomnow .appeal-grid-module .photo-box-submit-cta p {
        color: #5785b9;
        padding: 10px 20px;
        text-transform: uppercase;
        line-height: normal; }
      @media only screen and (max-width: 480px) {
        .freedomnow .appeal-grid-module .photo-box-submit-cta {
          font-size: 20px; } }
  .freedomnow .logo-freedomnow {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 2;
    padding: 30px;
    max-width: 130px; }
    @media only screen and (max-width: 768px) {
      .freedomnow .logo-freedomnow {
        padding: 22.5px;
        max-width: 100px; } }
    @media only screen and (max-width: 480px) {
      .freedomnow .logo-freedomnow {
        padding: 15px;
        max-width: 80px; } }
  .freedomnow .arrow-down {
    position: absolute;
    bottom: 50px;
    left: calc(50% - 15px);
    z-index: 2;
    color: #fff;
    padding: 0px;
    animation-duration: 1.6s;
    -webkit-animation-duration: 1.6s;
    opacity: 0.8;
    cursor: pointer;
    -webkit-transition: opacity 0.3s;
    -khtml-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s; }
    .freedomnow .arrow-down:hover {
      opacity: 0.5; }
  .freedomnow .npe {
    pointer-events: none; }
  .freedomnow .appeal-popup-module {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    opacity: 0;
    -webkit-transition: opacity 0.8s;
    -khtml-transition: opacity 0.8s;
    -moz-transition: opacity 0.8s;
    -ms-transition: opacity 0.8s;
    -o-transition: opacity 0.8s;
    transition: opacity 0.8s; }
    .freedomnow .appeal-popup-module .img-container {
      position: relative;
      background-image: url(https://leakypedia.files.wordpress.com/2013/01/keep-fighting-cropped1.jpg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      width: 100%;
      height: 100%;
      max-width: 500px;
      max-height: 500px;
      margin: auto;
      top: 50%;
      -webkit-box-shadow: 0px 20px 80px #181818;
      -khtml-box-shadow: 0px 20px 80px #181818;
      -moz-box-shadow: 0px 20px 80px #181818;
      -ms-box-shadow: 0px 20px 80px #181818;
      -o-box-shadow: 0px 20px 80px #181818;
      box-shadow: 0px 20px 80px #181818;
      -webkit-transform: translateY(-50%);
      -khtml-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%); }
      .freedomnow .appeal-popup-module .img-container .close {
        position: absolute;
        top: 10px;
        right: 10px;
        background-image: url(../images/icon-close.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        width: 30px;
        height: 30px;
        background-color: transparent;
        border: none;
        text-indent: -9999px;
        font-size: 0px;
        cursor: pointer;
        -webkit-transition: opacity 0.3s;
        -khtml-transition: opacity 0.3s;
        -moz-transition: opacity 0.3s;
        -ms-transition: opacity 0.3s;
        -o-transition: opacity 0.3s;
        transition: opacity 0.3s; }
        .freedomnow .appeal-popup-module .img-container .close:hover {
          opacity: 0.8; }
      .freedomnow .appeal-popup-module .img-container .nav-ctrl {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 10px 0;
        text-align: center; }
        .freedomnow .appeal-popup-module .img-container .nav-ctrl button {
          margin: 10px 0px;
          border: none;
          font-size: 16px;
          text-transform: uppercase;
          padding: 8px 15px;
          cursor: pointer;
          -webkit-transition: opacity 0.3s;
          -khtml-transition: opacity 0.3s;
          -moz-transition: opacity 0.3s;
          -ms-transition: opacity 0.3s;
          -o-transition: opacity 0.3s;
          transition: opacity 0.3s; }
          .freedomnow .appeal-popup-module .img-container .nav-ctrl button:nth-child(1) {
            margin-right: 10px; }
          .freedomnow .appeal-popup-module .img-container .nav-ctrl button:hover {
            opacity: 0.8; }
          .freedomnow .appeal-popup-module .img-container .nav-ctrl button.next {
            background-color: #5785b9;
            color: #fff; }
          .freedomnow .appeal-popup-module .img-container .nav-ctrl button.how-to-appeal {
            background: #fff;
            color: #5785b9; }
  .freedomnow .form-file-module {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: rgba(0, 0, 0, 0.3);
    font-size: 12px;
    display: none;
    opacity: 0; }
    .freedomnow .form-file-module form {
      text-transform: uppercase;
      background-color: #fff;
      color: #5785b9;
      height: auto;
      width: 80%;
      max-width: 320px;
      text-align: center;
      padding: 30px 0;
      margin: 0 auto;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%);
      -khtml-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      -o-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      -webkit-box-shadow: 0px 5px 60px #181818;
      -khtml-box-shadow: 0px 5px 60px #181818;
      -moz-box-shadow: 0px 5px 60px #181818;
      -ms-box-shadow: 0px 5px 60px #181818;
      -o-box-shadow: 0px 5px 60px #181818;
      box-shadow: 0px 5px 60px #181818; }
      .freedomnow .form-file-module form > div {
        margin-bottom: 10px; }
        .freedomnow .form-file-module form > div label {
          padding: 10px;
          display: block; }
      .freedomnow .form-file-module form input {
        color: #5785b9;
        background: transparent;
        vertical-align: middle;
        border: 1px solid #5785b9;
        padding: 8px 15px;
        text-transform: uppercase;
        cursor: pointer;
        margin-bottom: 20px; }
      .freedomnow .form-file-module form .close {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 20px;
        height: 20px;
        background-image: url(../images/icon-close-black.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        border: none;
        background-color: transparent; }
