@import "css3MixinLibrary";
@import "colours";
@import "fonts";
@import "animations";

.freedomnow {
	font-family: 'Open Sans', sans-serif;
	background: $black;
	position: relative;

	.clock-module {
		width: 100%;
		height: 100vh;
		position: relative;
		z-index: 5;
		@include box-shadow(0px, 5px, 60px, #181818);

		.row {
			height: 50vh;
			text-transform: uppercase;
			position: relative;

			> div {
				padding: 20px 0;
			}

			&.r1 {
				color: $black;
				background: $blue;

				> div {
					position: absolute;
					bottom: 0;
					left: 0;
				}
			}

			&.r2 {
				color: $blue;
				background: $black;

				.col-1 {
					color: $white;

					p {
						font-size: 145px;
						position: relative;
						top: -18px;
						line-height: 148px;

						@media only screen and (max-width: 768px) {
							font-size: 145px * 0.75;
							top: -18px * 0.75;
							line-height: 148px * 0.75;
						}

						@media only screen and (max-width: 480px) {
							font-size: 145px * 0.5;
							top: -18px * 0.5;
							line-height: 148px * 0.5;
						}
					}
				}
			}

			.col {
				float: left;
			}

			.col-1 {
				font-weight: 900;
				margin-right: 30px;
				width: 200px;
				text-align: right;

				@media only screen and (max-width: 768px) {
					margin-right: 30px * 0.75;
					width: 200px * 0.75;
				}

				@media only screen and (max-width: 480px) {
					margin-right: 30px * 0.5;
					width: 200px * 0.5;
				}
			}

			p {
				font-size: 60px;

				@media only screen and (max-width: 768px) {
					font-size: 60px * 0.75;
				}

				@media only screen and (max-width: 480px) {
					font-size: 60px * 0.5;
				}
			}
		}

		.topbox-bot-bar {
			position: relative;
			z-index: 2;
			pointer-events: visible;
		}
	}

	.appeal-grid-module {
		position: relative;
		z-index: 1;
		background-color: $black;

		.photo-box {
			float: left;
			width: 10vw;
			overflow: hidden;
			cursor: pointer;
			position: relative;

			&:before {
				content: " ";
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 2;
				opacity: 0;
				background-color: $black;
				@include transition(opacity 0.3s ease-in-out);
			}

			&:hover {
				&:before {
					opacity: 0.3;
				}

				img {
					@include transform(scale(1.1));
					-webkit-transition-duration: 12s;
					/* Safari */
					transition-duration: 12s;
				}
			}

			img {
				width: auto;
				height: 100%;
				@include transition(transform 0.3s);
			}
		}

		.photo-box-submit-cta {
			width: 100%;
			height: 100%;
			background-color: $blue;

			p {
				font-size: 36px;
				color: #fff;
				padding: 10px;
				text-transform: uppercase;
				line-height: normal;
			}
		}
	}

	.logo-freedomnow {
		position: absolute;
		right: 0;
		bottom: 0;
		z-index: 2;
		padding: 30px;
		max-width: 130px;

		@media only screen and (max-width: 768px) {
			padding: 30px * 0.75;
			max-width: 100px;
		}

		@media only screen and (max-width: 480px) {
			padding: 30px * 0.5;
			max-width: 80px;
		}
	}

	.arrow-down {
		position: absolute;
		bottom: 50px;
		left: calc(50% - 15px);
		z-index: 2;
		color: #fff;
		padding: 0px;
		animation-duration: 1.6s;
		-webkit-animation-duration: 1.6s;
		opacity: 0.8;
		cursor: pointer;
		@include transition(opacity 0.3s);

		&:hover {
			opacity: 0.5;
		}
	}

	.npe {
		pointer-events: none;
	}

	.appeal-popup-module {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 10;
		background-color: rgba(0, 0, 0, 0.3);
		display: none;
		opacity: 0;
		@include transition(opacity 0.8s);

		.img-container {
			position: relative;
			background-image: url(https://leakypedia.files.wordpress.com/2013/01/keep-fighting-cropped1.jpg);
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			width: 100%;
			height: 100%;
			max-width: 500px;
			max-height: 500px;
			margin: auto;
			top: 50%;
			@include box-shadow(0px, 20px, 80px, #181818);
			@include transform(translateY(-50%));

			.close {
				position: absolute;
				top: 10px;
				right: 10px;
				background-image: url(../images/icon-close.png);
				background-repeat: no-repeat;
				background-position: center center;
				background-size: cover;
				width: 30px;
				height: 30px;
				background-color: transparent;
				border: none;
				text-indent: -9999px;
				font-size: 0px;
				cursor: pointer;
				@include transition(opacity 0.3s);

				&:hover {
					opacity: 0.8;
				}
			}

			.nav-ctrl {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				padding: 10px 0;
				//background-color: rgba(0, 0, 0, 0.2);
				text-align: center;

				button {
					margin: 10px 0px;
					border: none;
					font-size: 16px;
					text-transform: uppercase;
					padding: 8px 15px;
					cursor: pointer;
					@include transition(opacity 0.3s);

					&:nth-child(1) {
						margin-right: 10px;
					}

					&:hover {
						opacity: 0.8;
					}

					&.next {
						background-color: $blue;
						color: #fff;
					}

					&.how-to-appeal {
						background: #fff;
						color: $blue;
					}
				}
			}
		}
	}

	.form-file-module {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 10;
		background: rgba(0, 0, 0, 0.3);
		font-size: 12px;
		display: none;
		opacity: 0;

		form {
			text-transform: uppercase;
			background-color: #fff;
			color: $blue;
			height: auto;
			width: 80%;
			max-width: 320px;
			text-align: center;
			padding: 30px 0;
			margin: 0 auto;
			position: absolute;
			top: 50%;
			left: 50%;
			@include transform(translateX(-50%) translateY(-50%));
			@include box-shadow(0px, 5px, 60px, #181818);

			> div {
				margin-bottom: 10px;

				label {
					padding: 10px;
					display: block;
				}
			}

			input {
				color: $blue;
				background: transparent;
				vertical-align: middle;
				border: 1px solid $blue;
				padding: 8px 15px;
				text-transform: uppercase;
				cursor: pointer;
				margin-bottom: 20px;
			}

			.close {
				position: absolute;
				top: 10px;
				right: 10px;
				width: 20px;
				height: 20px;
				background-image: url(../images/icon-close-black.png);
				background-repeat: no-repeat;
				background-position: center center;
				background-size: cover;
				border: none;
				background-color: transparent;
			}
		}
	}
}