@import "css3MixinLibrary";
@import "colours";
@import "fonts";
@import "animations";

html {
	background-color: #000;
}

.freedomnow {
	font-family: 'Open Sans', sans-serif;
	background: $black;
	position: relative;
	background-color: #000;

	.clock-module {
		width: 100%;
		height: 100vh;
		position: relative;
		z-index: 5;
		@include box-shadow(0px, 5px, 60px, #181818);

		.row {
			height: 50vh;
			text-transform: uppercase;
			position: relative;

			> div {
				padding: 20px 0;
			}

			&.r1 {
				color: $black;
				background: $blue;

				> div {
					position: absolute;
					bottom: 0;
					left: 0;
				}
			}

			&.r2 {
				color: $blue;
				background: $black;

				.col-1 {
					color: $white;

					p {
						font-size: 145px;
						position: relative;
						top: -18px;
						line-height: 148px;

						@media only screen and (max-width: 768px) {
							font-size: 145px * 0.75;
							top: -18px * 0.75;
							line-height: 148px * 0.75;
						}

						@media only screen and (max-width: 480px) {
							font-size: 145px * 0.5;
							top: -18px * 0.5;
							line-height: 148px * 0.5;
						}
					}
				}
			}

			.col {
				float: left;
			}

			.col-1 {
				font-weight: 900;
				margin-right: 30px;
				width: 200px;
				text-align: right;

				@media only screen and (max-width: 768px) {
					margin-right: 30px * 0.75;
					width: 200px * 0.75;
				}

				@media only screen and (max-width: 480px) {
					margin-right: 30px * 0.5;
					width: 200px * 0.5;
				}
			}

			p {
				font-size: 60px;

				@media only screen and (max-width: 768px) {
					font-size: 60px * 0.75;
				}

				@media only screen and (max-width: 480px) {
					font-size: 60px * 0.5;
				}
			}
		}

		.topbox-bot-bar {
			position: relative;
			z-index: 2;
			pointer-events: visible;
		}
	}

	.appeal-grid-module {
		position: relative;
		z-index: 1;
		background-color: $black;

		.photo-box {
			float: left;
			width: 10vw;
			overflow: hidden;
			cursor: pointer;
			position: relative;
			
			&.photo-popup {
				background-size: cover;
				background-position: center center;
				background-repeat: no-repeat;

				img {
					display: none;
				}
			}

			&:before {
				content: " ";
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 2;
				opacity: 0;
				background-color: $black;
				@include transition(opacity 0.3s ease-in-out);
			}

			&.anim-hover {
				&:hover {
					&:before {
						opacity: 0.3;
					}

					img {
						@include transform(scale(1.1));
						-webkit-transition-duration: 12s;
						/* Safari */
						transition-duration: 12s;
					}
				}
			}

			img {
				width: auto;
				height: 100%;
				transform-origin: center center;
				@include transition(transform 0.3s filter 0.3s);

				filter: grayscale(0.9);
				-webkit-filter: grayscale(0.9);
				-moz-filter: grayscale(0.9);
				-ms-filter: grayscale(0.9);
			}

			&:hover {
				img {
					filter: grayscale(0);
					-webkit-filter: grayscale(0);
					-moz-filter: grayscale(0);
					-ms-filter: grayscale(0);
				}
			}

			&.contact-email,
			&.general-tile {
				span {
					font-size: 16px;
					letter-spacing: 1px;
					
					&:nth-child(1) {
						padding-top: 50px;
					}

					&:nth-child(2) {
						color: $blue;
						font-weight: bold;
					}
				}
				.arrow {
					margin-top: 10px;
					margin-left: 10px;
					display: inline-block;
					width: 30px;
					height: 30px;
					@include transform(rotate(-90deg));
				}
			}
			&.privacy-policy-box {
				background-color: $blue;
				span {
					font-size: 18px;
					font-weight: bold;
					color: #fff;
				}
			}

			.who-we-are-el {
				color: #fff;
				margin-left: 20px;
				margin-bottom: 10px;
				padding: 10px 0;
				span {
					padding: 0 !important;
					margin: 0;
					text-transform: uppercase;
					font-size: 38px;
					font-weight: bold;
					color: $blue;
					&:nth-child(1) {
						color: #fff;
						font-weight: normal;
					}
				}
				@media only screen and (max-width: 480px) {
					span {
						font-size: 12px;
					}
				}
			}

		}

		.photo-box-submit-cta {
			width: 100%;
			height: 100%;
			background-color: $black;
			font-size: 38px;
			font-weight: bold;

			span {
				color: #fff;
				display: block;
				font-weight: normal;
			}

			p {
				color: $blue;
				padding: 10px 20px;
				text-transform: uppercase;
				line-height: 42px;
			}

			.hashtags {
				font-size: 10px;
				position: absolute;
				bottom: 20px;
				left: 20px;
				line-height: normal;
				letter-spacing: 1px;
				text-transform: uppercase;
				opacity: 0.8;
			}

			.arrow {
				margin-top: 10px;
				margin-left: 10px;
				display: inline-block;
				width: 30px;
				height: 30px;
				@include transform(rotate(-90deg));
			}

			@media only screen and (max-width: 480px) {
				font-size: 12px;

				.arrow {
					width: 12px;
					height: 12px;
					margin-left: 20px;
				}

				p {
					line-height: normal;
				}
			}
		}

		.general-tile {
			width: 100%;
			height: 100%;
			background-color: $black;
			font-size: 18px;
			font-weight: bold;
			line-height: normal;

			@media only screen and (max-width: 480px) {
				font-size: 12px;
			}

			span {
				color: #fff;
				display: block;
				font-weight: normal;
			}

			p {
				color: $blue;
				padding: 10px 20px;
				text-transform: uppercase;
			}
		}

		.amnistia-internacional-portugal {
			background: $yellow;
			text-align: center;
			position: relative;
			@include transition(opacity 0.3s);

			&:hover {
				&:before {
					opacity: 0.3;
				}
			}

			h3 {
				padding: 20px;
				color: #000;
				font-family: 'Open Sans', sans-serif;
				font-weight: 100;
			}

			&:hover {
				img {
					@include transition(none);
				}
			}

			img {
				width: 65%;
				height: auto;
				position: absolute;
				top: 50%;
				left: 50%;
				@include transform(translateY(-50%) translateX(-50%));
			}
		}
	}

	.logo-freedomnow {
		position: absolute;
		right: 0;
		bottom: 0;
		z-index: 2;
		padding: 30px;
		max-width: 130px;

		@media only screen and (max-width: 768px) {
			padding: 30px * 0.75;
			max-width: 100px;
		}

		@media only screen and (max-width: 480px) {
			padding: 30px * 0.5;
			max-width: 80px;
		}
	}

	.arrow-down {
		position: absolute;
		bottom: 50px;
		left: calc(50% - 15px);
		z-index: 2;
		color: #fff;
		padding: 0px;
		animation-duration: 1.6s;
		-webkit-animation-duration: 1.6s;
		opacity: 0.8;
		cursor: pointer;
		@include transition(opacity 0.3s);

		&:hover {
			opacity: 0.5;
		}
	}

	.npe {
		pointer-events: none;
	}

	.appeal-popup-module {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 10;
		background-color: rgba(0, 0, 0, 0.3);
		display: none;
		opacity: 0;
		@include transition(opacity 0.8s);

		.img-container {
			position: relative;
			//background-image: url(../images/assange-example.jpg);
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			width: 100%;
			height: 100%;
			max-width: 500px;
			max-height: 500px;
			margin: auto;
			top: 50%;
			@include box-shadow(0px, 20px, 80px, #181818);
			@include transform(translateY(-50%));

			.close {
				position: absolute;
				top: 10px;
				right: 10px;
				background-image: url(../images/icon-close.png);
				background-repeat: no-repeat;
				background-position: center center;
				background-size: cover;
				width: 30px;
				height: 30px;
				background-color: transparent;
				border: none;
				text-indent: -9999px;
				font-size: 0px;
				cursor: pointer;
				@include transition(opacity 0.3s);

				&:hover {
					opacity: 0.8;
				}
			}

			.nav-ctrl {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				padding: 10px 0;
				//background-color: rgba(0, 0, 0, 0.2);
				text-align: center;

				button {
					margin: 10px 0px;
					border: none;
					font-size: 16px;
					text-transform: uppercase;
					padding: 8px 15px;
					cursor: pointer;
					@include transition(opacity 0.3s);

					&:nth-child(1) {
						margin-right: 10px;
					}

					&:hover {
						opacity: 0.8;
					}

					&.next {
						background-color: $blue;
						color: #fff;
					}

					&.how-to-appeal {
						background: #fff;
						color: $blue;
					}
				}
			}
		}
	}

	.form-file-module {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 10;
		background: rgba(0, 0, 0, 0.3);
		font-size: 12px;
		display: none;
		opacity: 0;

		form {
			text-transform: uppercase;
			background-color: #fff;
			color: $blue;
			height: auto;
			width: 80%;
			max-width: 320px;
			text-align: center;
			padding: 30px 0;
			padding-bottom: 0px;
			margin: 0 auto;
			position: absolute;
			top: 50%;
			left: 50%;
			@include transform(translateX(-50%) translateY(-50%));
			@include box-shadow(0px, 5px, 60px, #181818);
			@include transition(opacity 0.3s);
			opacity: 1;

			> div {
				margin-bottom: 10px;

				label {
					padding: 10px;
					display: block;
				}
			}

			input {
				color: $blue;
				background: transparent;
				vertical-align: middle;
				border: 1px solid $blue;
				padding: 8px 15px;
				text-transform: uppercase;
				cursor: pointer;
				margin-bottom: 20px;
			}

			.close {
				position: absolute;
				top: 10px;
				right: 10px;
				width: 20px;
				height: 20px;
				background-image: url(../images/icon-close-black.png);
				background-repeat: no-repeat;
				background-position: center center;
				background-size: cover;
				border: none;
				background-color: transparent;
			}

			.form-success-message {
				width: 90%;
				margin: 0 5%;
				opacity: 0;
				display: none;
				@include transition(opacity 0.3s);
				p {
					padding-bottom: 20px;
					line-height: normal;
				}
			}

			.confirm {
				background-color: $blue;
				color: #fff;
				cursor: pointer;
				margin-top: 10px;
				@include transition(all 0.3s);
				&:hover {
					background-color: #fff;
					color: $blue;
				}
			}

			.email-only-permissions-data {
				width: 90%;
				text-align: left;
				margin-left: 5%;
				margin-top: 0px;
				padding-top: 10px;
				display: none;

				h3 {
					font-weight: 900;
					margin-bottom: 20px;
				}
				
				label {
					margin: 0 0 0 0px;
					padding: 0;
				}

				span {
					display: block;
					margin-bottom: 5px;
				}

				input {
					width: 90%;
				}
			}
			.form-errors {
				background: #FAD3C4;
				border: 1px solid #A75B4E;
				border-radius: 5px;
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				color: #444444;
				display: none;
				width: 85%;
				margin: 0 auto;
				margin-bottom: 10px;
				padding: 10px;
				line-height: normal;
				text-align: left;
			}

			input[name="file"] {
				display: none;
			}

			.browse-photo {
				width: 100%;
				background: #eee;
				padding: 10px 0;
				text-align: center;
				color: $blue;
				cursor: pointer;
				@include transition(opacity 0.3s);

				&:hover {
					opacity: 0.7;
				}
			}

			.facebook-share-message {
				width: 90%;
				min-height: 50px;
				display: none;
			}
			.extended-email {
				width: 90%;
				margin: 0 auto;
			}
			.click-email-preview-wrp {
				width: 90%;
				margin-left: 5%;
				background: #eee;
				cursor: pointer;
				@include transition(opacity 0.3s);
				border-radius: 10px;
				font-size: 10px;
				margin: 0 0 10px 0 !important;
				&:hover {
					opacity: 0.7;
				}
				display: none;

				span {
					text-transform: none;
					padding: 8px;
					display: inline-block;
					line-height: normal;
				}
			}
		}

		.inp-photo-wrap {
			width: 90%;
			margin: 0 5%;
			text-align: left;
			border-bottom: 1px dashed $blue;
			margin-bottom: 20px;
			padding-bottom: 20px;
			h3 {
				font-weight: 900;
				margin-bottom: 20px;
			}
			input[type="file"] {
				width: 90%;
				margin: 0;
			}
		}

		.permission-options {
			width: 90%;
			margin: 0 5%;
			margin-bottom: 0px;

			h3 {
				font-weight: 900;
				margin-bottom: 10px;
			}
			text-align: left;
			label {
				cursor: pointer;
				line-height: normal;
				display: inline-block;
				@include transition(opacity 0.3s);
				padding-left: 0;

				&:hover {
					opacity: 0.7;
				}

				input[type="checkbox"] {
					margin: 0 5px 0 0;
				}
			}	
		}

		.loading {
			display: none;
		}

		&.submited {
			input.confirm {
				display: none;
			}
			.loading {
				display: block;
				font-size: 50px;
				position: relative;
				bottom: 10px;
			}
		}
	}

	.privacy-policy {
		padding: 50px;
		p {
			font-size: 18px;
		}
		h3 {
			font-size: 24px;
			font-weight: bold;
		}
		h3, p {
			color: #fff;
			padding: 10px 0;
		}
		ul {
			color: #fff;
			li {
				padding: 5px 0;
			}
		}
		a {
			color: #fff;
		}
	}

	.email-preview,
	.who-we-are {
		font-size: 16px;
		width: auto;
		height: auto;
		margin: 0 50px;
		padding: 40px;
		position: absolute;
		z-index: 999;
		top: 0;
		left: 0;
		background-color: #fff;
		line-height: normal;
		@include transition(opacity 0.3s);
		opacity: 0;
		display: none;
		@include box-shadow(0px, 5px, 60px, #181818);

		@media only screen and (max-width: 480px) {
			margin: 0 5px;
			padding: 10px;
			font-size: 12px;
		}

		b {
			font-weight: bold;
		}
		p {
			padding-bottom: 10px;			
		}
		.photo {
			margin-top: 20px;
			max-width: 200px;
			img {
				width: 100%;
				height: auto;
			}
			span {
				font-size: 10px;
			}
		}
		.close {
			position: absolute;
			top: 10px;
			right: 10px;
			width: 20px;
			height: 20px;
			background-image: url(../images/icon-close-black.png);
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			border: none;
			background-color: transparent;
			cursor: pointer;
			@include transition(opacity 0.3s);

			&:hover {
				opacity: 0.8;
			}
		}
		.where-to {
			color: $blue;
			border-bottom: 1px solid $blue;
			padding: 20px 0 40px;
			margin-bottom: 40px;
		}

	}

	.who-we-are {
		p {
			padding: 10px 0;
		}
	}
}