@import "colours";
@import "fonts";

.freedomnow {
	font-family: 'Open Sans', sans-serif;
	background: $black;

	.clock-module {
		width: 100vw;
		height: 100vh;

		.row {
			height: 50vh;
			text-transform: uppercase;
			position: relative;

			> div {
				margin-left: 20px;
				padding: 20px 0;
			}

			&.r1 {
				color: $black;
				background: $blue;

				> div {
					position: absolute;
					bottom: 0;
					left: 0;
				}
			}

			&.r2 {
				color: $blue;
				background: $black;

				.col-1 {
					color: $white;

					p {
						font-size: 148px;
						position: relative;
						top: -15px;
						line-height: 148px;
					}
				}
			}

			.col {
				float: left;
			}

			.col-1 {
				font-weight: 900;
				margin-right: 20px;
			}

			p {
				font-size: 60px;
			}
		}
	}

	.appeal-grid-module {
		.photo-box {
			float: left;
			width: 10vw;
			overflow: hidden;

			img {
				width: auto;
				height: 100%;
			}
		}
	}
}